.frame {
    text-align: center;
    align-items: center;
}

canvas {
    border: 1px solid;
    background-image: url('./assets/flappy-bg.jpg');
    margin-top: 100px;
}


body {
    background-color: aqua;
    margin: 0;
}

/* .score {
    border: 1px solid;
}

.highscore {
    border: 1px solid;
} */

.reset {
    margin-top: 50;
    margin-left: 100;
    align-self: center;
    text-align: center;
}